body{
	
	margin-top: 400px;
	background: url(header.jpg) no-repeat center top fixed;
	background-color: #E6E7E8;
	color: #203367;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
}

h2 {
}

p{

}

a {
	color: #203367;
}

ul {
	list-style: none;
	padding: 0;
}

#contact {
	font-size: 18px;
	color: #203367;
}
