body {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

nav {
	background-color: #000


}

a {
	font-weight: 600;
	color: white;
	text-decoration: none;
	display: block;
	background-color: #000;
	float: right;
	padding: 1em;
	font-size: 1.25em;

}

a:hover {
	background: #fff;
	color: #000;

}

h1 {
	font-weight: 600;
	font-size: 1.5em;

}

img {
	margin: 20px;
}

.clearfix:after {
	visibility: hidden; 
	display: block; 
	font-size: 0; 
	content: " "; 
	clear: both; 
	height: 0; 
}

#portfolionav{
	font-size: 1.3em;
	line-height: 1.618em;
	margin: 20px
}

.column {
	float: left;
	padding:20px;

}

.wrapper {
	width: 1215px;
	display: block;
	margin: 150px auto;
}

#about{
	width: 600px;
	line-height: 1.618em;
	display: block;
	margin: 0 auto;
}
