body{
	background-color: #E6E7E8;
	color: #203367;
	font-size: 16px;
}


#topbar{
	background-color: #203367;
	height:135px;
	width:100%;
}

#logo{
	width:135px;
	margin: 0 auto;
	position: relative;
	top: 50%;

}

h1 {
	font-size: 2.6em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding: .25em 0em 1em 0em;
	text-align: center;
	margin-top: 100px;
	line-height: 1.618em;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: italic;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.618em;

}

a {
	color: #203367;
	text-decoration: none;
	border-bottom: 2px solid #203367;
	padding-bottom: 2px;

}

a:hover {
	color: #528b8b;
	border-bottom: 2px solid #528b8b;
}

ul {
	list-style: none;
}

.wrapper {
	width: 75%;
	margin: 0 auto;
}

#contact {
	font-size: 1.125em;
	color: #203367;
	font-family: 'Oswald', sans-serif;
	padding: 1.618em;
	text-align: center;
}

.container {
	background:white;
	width: 31.33%;
	border: 1em #fff solid;
	border-radius: 1em;
	margin: 1%;
	float: left;
	max-width: 330px;
}

.container img {
	width: 100%;
	max-width: 275px;
	display: block;
	margin: 0 auto;
	border: .25em solid #d3d3d3;
	border-radius: 1em;
}

.container p {
	margin-top: 1em;

}

.clearfix:after { 
visibility: hidden; 
display: block; 
font-size: 0; 
content: " "; 
clear: both; 
height: 0;
}


#bottombar{
	background-color: #203367;
	width:100%;
	margin-top: 3em;
}


.aboutwrapper {
	width: 75%;
	margin: 0 auto;
	line-height: 1.68em;
	color: #fff;
	padding: 1%
}

.aboutcol {
	float: left;
	margin-right: 5%;
}

.portfoliowrapper {
	width: 80%;
	margin: 0 auto;
}

.portfolioimage {
	background-image: url(UMCatalogCover_700x500.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 15% auto 3%;
	width: 100%;
	max-width: 700px;
	max-height: 500px;
	height: 100%;
	border-radius: 1em;
}



#portfoliotopbar{
	background-color: #203367;
	height:100px;
	width:100%;
}

#portfoliologo{
	width:135px;
	margin: 0 auto;
	top: 50%;
	position: relative;

}

#portfoliologo a{
	border: 0px;

}

section {
	width: 95%;
	margin: 0 auto;
	max-width: 750px;
}

ul li{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

ul#navigation .left {
	float: left;
	color: #203367;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;


}

ul#navigation .right {
	float: right;
	color: #203367;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding-left: 2em;

}

ul#navigation .center {
float: none;
}

.bigcontainer {
	background:white;
	width: 100%;
	border: 1em #fff solid;
	border-radius: 1em;
	margin: 12% auto 3%;
	max-width: 750px;
}

.bigcontainer img {
	width: 100%;
	max-width: 750px;
	display: block;
	margin: 0 auto;
	border-radius: 1em;
}

@media only screen and (min-width: 792px) and (max-width: 1100px) {

.container {
	background:white;
	width: 45%;
	border: 1em #fff solid;	
	border-radius: 1em;
	margin: 2%;
	float: left;
}


.wrapper {
	width: 75%;
	margin: 0 auto;
}

.portfoliowrapper {
	width: 80%;
	margin: 0 auto;
}


}

@media only screen and (min-width: 642px) and (max-width: 791px) {
.container {
	background:white;
	width: 45%;
	border: 1em #fff solid;
	border-radius: 1em;
	margin: 2%;
	float: left;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.bigcontainer {
	background:white;
	width: 100%;
	border: 1em #fff solid;
	border-radius: 1em;
	margin: 15% auto 3%;
	max-width: 750px;
}


.portfoliowrapper {
	width: 90%;
	margin: 0 auto;
}

}


@media only screen and (min-width: 320px) and (max-width: 641px) {

.aboutcol {
float: none;

}

.aboutwrapper {
	width:60%;
	margin: 0 auto;

}

.container {
	background:white;
	width: 100%;
	border: 1em #fff solid;
	border-radius: 1em;
	margin: 0 auto 8%;
	float: none;
}

.wrapper {
	width: 93%;
	margin: 0 auto;
}

#bottombar{
	background-color: #203367;
	width:100%;
	margin-top: 2em;
}

.aboutcol {
	float: none;
	width: 100%;
}

.aboutcol img, h3{
	float: none;
}

.bigcontainer {
	background:white;
	width: 100%;
	margin: 24% auto 3%;
}


section {
	width: 98%;
	margin: 0 auto;

}

.portfoliowrapper {
	width: 95%;
	margin: 0 auto;
}

ul#navigation .left {
	float: right;
	color: #203367;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 1.618em
}

ul#navigation .right {
	float: right;
	color: #203367;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	line-height: 1.618em;

}

ul li{

	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.bigcontainer img {
	width: 100%;
	display: block;
	margin: 0 auto;

}

#topbar{
	background-color: #203367;
	height: 90px;
	width:100%;
}

#logo{
	width: 135px;
	margin: 0 auto;
	position: relative;
	top: 30%;

}

h1 {
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	padding: .25em 0em .75em 0em;
	text-align: center;
	margin-top: 75px;
	line-height: 1.618em;
}

}
