body{
	background-color: #f2f2f2;
	color: #373748;
	font-family: sans-serif;
	text-align: center;
	line-height: 2;
}

h1 {
	font-weight: 500;
}

ul {
	list-style: none;
	padding: 0;
}

#slogan {
	font-style: italic;
}